.aboutContainer{
  display: flex;
  margin: 35vh 0 10vh 0;
  text-align: center;
  justify-content: space-evenly;
  padding: 2vh 0;
}

.aboutHeader{
 font-size: 1.5rem;

}


.aboutBlurbContainer{
 display: flex;
 flex-direction: column;
 align-items: center;
 max-width: 40vw;
 justify-content: space-evenly;
 margin: 4vh;
}

.aboutBlurb{
 font-size: 1.25rem;
}

.phoneLink{
 display: flex;
 justify-content: center;
}

.phoneIcon{
 margin-right: 1vh;
}

@media screen and (max-width: 1080px) {
  .aboutContainer{
    align-items: center;
    flex-direction: column;
  }
  .aboutImg {
    width: 80vw;
    aspect-ratio: 16/8;
    padding-bottom: 5vh;
    }
  .aboutBlurbContainer{
    max-width: 80vw;
  }
}