.aboutContainer{
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  padding: 30vh 0 5vh 0;
}

.aboutHeader{
  font-size: 3.25vh;
}


.aboutBlurbContainer{
 display: flex;
 flex-direction: column;
 align-items: center;
 max-width: 40vw;
 justify-content: space-evenly;
 margin: 4vh;
}

.aboutBlurb{
 font-size: 1.25rem;
}

.phoneLink{
 display: flex;
 justify-content: center;
}

.phoneIcon{
 margin-right: 1vh;
}
.aboutImgMobile{
  display: none;
}

@media screen and (max-width: 1080px) {
  .aboutContainer{
    align-items: center;
    flex-direction: column;
    padding: 20vh 0 0 0;    
  }
  .aboutHeader{
    padding-top: 5vh;
    font-size: 6vw;
  }
  .aboutImg {
    display: none;
  }
  .aboutImgMobile{
    display:contents;
  }

  .getQuote{
    margin-top: 10vh;
  }
  .phoneLink{
    order: 3;
  }
  .aboutBlurbContainer{
    max-width: 90vw;
    order: 1;
  }
  .aboutBlurb{
    padding: 5vh 0;
    font-size: 3.25vw;
  }
}