.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  gap: 10px;
  touch-action: manipulation;
}

.gallery img {
  max-width: 80vw;
  max-height: 60vh;
  border-radius: 4px;
  -webkit-box-shadow: -1px 10px 60px 4px rgba(145, 141, 134, 1);
  -moz-box-shadow: -1px 10px 60px 4px rgba(145, 141, 134, 1);
  box-shadow: -1px 10px 60px 4px rgba(145, 141, 134, 1);
}

.img-slider-btn>* {
  stroke: rgba(255, 255, 255, 0.205);
  fill: rgba(255, 255, 255, 0.362);
  min-width: 2rem;
  min-height: 2rem;
  max-width: 5rem;
}


.img-slider-btn {
  all: unset;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
}


