#contactForm{
 padding-top: 5%;
}

.contactHeader{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5%;
}

.contactContainer{
  display: flex;
  justify-content: space-around;
}

.contact-icon {
  display: block;
  width: 100%;
  margin-top: 1%;
}

.contact-icon * {
  display: flex;
  justify-content: center;
}