.details-container{
  padding-top: 5%;
  background-color: orange;
}

.details-section{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 30vh;
  justify-content: space-around;
  width: 100vw;
}

@media screen and (max-width: 340px){
  .details-section {
    padding: 20vw auto;
  }
}