.details-section{
  border: 7px solid orange;
  display: flex;
  margin: 40vh auto;
  /* margin: auto; */
  flex-direction: column;
  justify-content: center;
  max-width: 50vw;
}


@media only screen and (max-width: 980px){
  .details-section{
    max-width: 90vw;
    padding: 0 2vw;
  }
}
@media only screen and (max-width: 480px){
  .details-section{
    max-width: 90vw;
  }
}