.details-section{
  border: 7px solid orange;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  max-width: 50vw;
}


@media only screen and (max-width: 480px){
  .details-section{
    max-width: 90vw;
  }
}