.footer-container {
  background: linear-gradient(rgba(255, 166, 0, 0.829),hsla(0, 0%, 5%, 0.475));
  top: auto;
  padding-bottom: .5%;
}

.iconCredit {
 display: flex;
 justify-content: center;
 color: white;
 white-space: nowrap;
}
.iconCredit a{
 display: flex;
 justify-content: center;
 color: white;
 text-decoration: none;
 padding:0 3px;
}

.iconCredit a:hover {
 color: black;
 text-decoration: underline;
}

.codieCredit{
  display: flex;
  justify-content: center;
  white-space: nowrap;
  margin-bottom: 1%;
}

.codieCredit a{
 text-decoration: none;
 color: black;
 font-weight: 600;
 font-size: 2.5vh;
}

.codieCredit a:hover{
 text-decoration: underline;
 color: white;
}

.copyright{
  text-align: center;
}

@media screen and (max-width: 860px) {
  .footer-container {
    font-size: 70%;
  }
}