h1.heading-title{
 display: block;
 font-size: 3vw;
 letter-spacing: .2vw;
 white-space: nowrap;
 text-align: center;
}

.header {
 margin: auto;
 border-bottom: 5px solid orange;
 padding-bottom: 1em;
}

.logo {
 display: flex;
 margin: auto;
 border: 3px solid black;
 border-radius: 50%;
 max-height: 12vh;
}

.call-button{
 display: flex;
 justify-content: end;
 color: orange;
 text-decoration: none;
}
.call-button:hover{
 color: darkorange;
}
.call-button:visited{
 text-decoration: none;
 color: orange;
}

.phone-icon{
 padding-right: 2%;
}

@media only screen and (max-width: 1000px){
 h1.heading-title {
  font-size: 5vw;
  letter-spacing: .5vw;
 }
}