h1.heading-title{
 display: block;
 font-size: 3.5vw;
 letter-spacing: .2vw;
 white-space: nowrap;
 text-align: center;
}

.header {
 margin: auto;
 max-width: 50vw;
 font-size: 3rem;
 border-bottom: 5px solid orange;
 padding-bottom: 2vh;
}

.logo {
 display: flex;
 margin: auto;
 border: 3px solid black;
 border-radius: 50%;
 max-height: 12vh;
}

a{
 display: flex;
 color: orange;
 text-decoration: none;
}

a *{
 display: flex;
}

a:hover{
 color:darkorange
}


.media-icons{
 display: flex;
 font-size: 1vw;
 justify-content: space-between;
}

.social-icons{
 display: flex;
}

.fb-icon{
 padding-right: 1vw;
}

.phone-icon{
 padding-right: 1vw;
}

@media only screen and (max-width: 980px){
 .header {
   max-width: 70vw;
  }
 .logo{
  max-height: 25vh;
 }
 h1.heading-title {
  font-size: 4vw;
 }
 .media-icons{
  font-size: 1rem;
 }
} 
 
@media only screen and (max-width: 480px){
 .header{
  max-width: 75vw;
 }
 .logo{
  max-height: 15vh;
 }
 h1.heading-title {
  font-size: 5vw;
 }
 .media-icons{
  font-size: 1rem;
 }
}