h1.heading-title{
 display: block;
 font-size: 5vw;
 white-space: nowrap;
 text-align: center;
}

.header {
 margin: auto;
 border-bottom: 5px solid orange;
 padding-bottom: 1em;
}

.logo {
 display: flex;
 margin: auto;
 border: 3px solid black;
 border-radius: 5%;
 max-height: 30vh;
}