.mapWrapper{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 margin: 0;
}

.mapHeader{
 font-size: 2vw;
}

.mapContainer{
 display: flex;
 flex-direction: column;
 text-align: center;
 align-items: center;
 justify-content: center;
 width: 40vw;
 height: 60vh;
}


@media screen and (max-width: 800px) {
 .mapWrapper{
  width: 100%;
 }
 .mapContainer {
  width: 90%;
  height: 50vh;
 }
}