.mapContainer{
 display: flex;
 flex-direction: column;
 text-align: center;
 justify-content: center;
 width: 30vw;
}

@media screen and (max-width: 800px) {
 .mapContainer {
  min-width: 50vw;
  align-items: center;
 }
}