nav {
 display: flex;
 width: 100%;
 margin: 0;
}

.navList{
 list-style-type: none;
 display: flex;
 width: 100%;
 padding: 0;
 gap: 5%;
}

.navItems {
 display: flex;
 list-style-type: none;
 justify-content: space-evenly;
 font-size: 2rem;
 font-weight: 700;
 flex: 1 1 auto;
 background-color: orange;
 border: 2px solid orange;
}
.navLinks{
 text-decoration: none;
}

.navItems:hover{
 opacity: 90%;
 color: black;
}

.navLinks:hover{
 opacity: 90%;
 color: black;
}

.navLinks:active{
 color: red;
}


/* @media only screen and (max-width: 1200px) {
 nav{
  display: flex;
  margin: 3vh auto;
 }
 nav > *{
  display: flex;
  white-space: nowrap;
  font-size: 70%;
  flex-direction: column;
  padding: 0%;
  justify-items: center;

 }
 .navItems{
  width: 50vw;
  font-size: 1rem;
  border-bottom: 5px solid orange;
 }
 .navItems:active{
  background-color: white;
  transition: background-color 100ms ease-in-out;
 }
 .navLinks:active{
  color: orange;
 }
} */