.before-after-container {
  margin: auto;
  max-width: 35%;
  padding: 1rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
  display: block;
  padding: auto;
  padding-top: 4%;
}



@media screen and (max-width: 950px) {
  .before-after-container{
    max-width: 40vw;
  }
}
@media screen and (max-width: 650px) {
  .before-after-container{
    max-width: 80vw;
  }
}

@media screen and (max-width: 480px) {
  .before-after-container{
    max-width: 80vw;
  }
}