.before-after-container {
  position: relative;
  margin: 35vh auto;
  margin-bottom: 0;
  max-width: 35%;
  text-align: center;
}

h1 {
  font-size: 2rem;
  display: block;
  padding-top: 4%;
}



@media screen and (max-width: 950px) {
  .before-after-container{
    max-width: 40vw;
  }
}
@media screen and (max-width: 650px) {
  .before-after-container{
    max-width: 80vw;
  }
}

@media screen and (max-width: 480px) {
  .before-after-container{
    max-width: 80vw;
  }
}