.service-options {
 justify-items: center;
 min-width: 50%;
 max-width: 50%;
 margin: auto;
}

.service-options:last-child{
 padding-bottom: 2rem;
}
h2{
 font-size: 2vw;
}

h2 a{
 display: flex;
 justify-content: space-between;
 padding: 1rem;
 border-bottom: 2px solid orange;
 color: white;
 text-decoration: none;
}

li{
 font-size: 1vw;
}
