.service-options {
 justify-items: center;
 min-width: 50%;
 max-width: 50%;
 margin: auto;
}

h2 a{
 display: flex;
 justify-content: space-between;
 padding: 1rem;
 border-bottom: 2px solid orange;
 color: white;
 text-decoration: none;
}